.card {
    width: 159px;
    height: 232px;
    
    display: flex;
    flex-direction: column;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    overflow: hidden;
    background-color: #181818;
  }
  
  /* Image Section */
  .imageSection {
    width: 100%;
    height: 170px;
  }
  
  .imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Bottom Section */
  .bottomSection {
    height: 62px;
    background: #ffffff;   /* BLACK background */
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Chip */
  .chip {
    background-color: #121212 !important;
    color: white !important;
    font-size: 10px !important;
    width: fit-content;
    margin-bottom: 6px;
  }
  
  /* Title */
  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;      /* Regular */
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #ffffff;        /* since your background is black */
    margin: 0;
    margin-top: 3px;
  }