.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    max-width: 1440px;
    height: 74px;
  
    background: #00FF00;
    border-radius: 4px;
    border: 1px solid #00FF00;
  
    padding: 0 24px;
    box-sizing: border-box;
  
    margin: 0 auto; /* centers navbar on large screens */
  }